@font-face {
    font-family: 'averta-regularitalic';
    src: url('../assets/fonts/averta/averta_italic/averta-regularitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_regular/averta-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averta-light';
    src: url('../assets/fonts/averta/averta_light/averta-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_light/averta-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averta-lightitalic';
    src: url('../assets/fonts/averta/averta_lightitalic/averta-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_lightitalic/averta-lightitalic-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averta-regular';
    src: url('../assets/fonts/averta/averta_regular/averta-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_regular/averta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averta-semibold';
    src: url('../assets/fonts/averta/averta_semibold/averta-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_semibold/averta-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averta-semibolditalic';
    src: url('../assets/fonts/averta/averta_semibolditalic/averta-semibolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/averta/averta_semibolditalic/averta-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averta-Regular";
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

:root {
    --primary-color: #003BD1;
    --primary-color-left: #023BD2;
    --primary-color-right: #4779FF;
    --primary-color-gradient: linear-gradient(90deg, rgba(2,59,210,1) 0%, rgba(71,121,255,1) 80%);
    --border-bottom-color: #497AFE;
    --bg-category: #0E65E5;
}

.spacing .gap {
    height: 11vh;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    margin: 0 5vw;
}

/* header menu */
.header {
    background: var(--primary-color-gradient);
    height: 11vh;
    width: 100%;
    padding: 0 5vw;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 3;
}

.header-navbar {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-logo {
    height: 60%;

    display: flex;
    align-items: center;
}

.header .logo {
    height: 100%;
}

.header .container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search,
.close,
.close_menu,
.menu_icon {
    height: 30%;
    width: auto;
    cursor: pointer;
}

.close,
.close_menu {
    display: none;
}

/* menu de busca */

.buscar {
    background: var(--primary-color-gradient);
    display: none;
    position: absolute;
    top: calc(11vh - 1px);
    right: 0;

    width: 100%;
    padding: 0 5vw;
    max-height: 0;
    overflow: hidden;
    transition: .3s;

    border-bottom: 5px solid var(--border-bottom-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar__search {
    width: 100%;
    padding: 0 10px;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    margin: 1.5vh 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buscar__search input {
    border: none;
    width: 100%;
    height: 35px;
    background-color: transparent;
    font-weight: lighter;
}

.buscar__search input:focus {
    outline: none;
    color: #6e6e6e;
}

.buscar__search-img {
    width: 25px;
    height: 25px;
}

/* sidebar menu */

.menu {
    width: 0;
    height: 90vh;
    background: var(--primary-color-gradient);
    opacity: .9;
    position: absolute;
    right: 0;
    top: calc(11vh + 4px);
    transition: width .3s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu > * {
    padding-right: 5vw;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 10px;
}

.menu ul li, details {
    margin: 4px;
}

.menu ul li a {
    text-transform: uppercase;
    font-family: "Averta-Regular";
    font-weight: lighter;
    font-size: 1rem;
}

details {
    text-align: right;
    font-size: 0.9rem;
}

details summary {
    font-size: 1rem;
    text-transform: uppercase;
}

details summary:hover {
    cursor: pointer;
}

.menu .selected {
    color: #e3d53c;
}

.social {
    padding-bottom: 2vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.social > a {
    display: flex;
    justify-content: flex-end;
}

.social .logo_firjan {
    width: 60%;
    max-width: 150px;
}

.social div img {
    height: 20px;
}

.social div a {
    margin: 0 3px
}

/* MAIN sections */

.section,
.ads {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.grafico {
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 15px 0;
}

.grafico img {
    width: 100%;
    height: 100%;
}

.ads {
    background-image: url('../assets/images/bg-ads.png');
    background-position: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ads span {
    display: none;

    font-family: 'averta-light';
    font-size: 0.7rem;
    color: black;
    align-self: flex-start;
    width: 80%;
    margin: 0 auto;
}

.ads a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ads img {
    height: 100%;
    object-fit: contain;
}

.section .texts {
    position: absolute;
    bottom: 0;
    padding-left: 5vw;
    width: 60%;
    height: 50%;
}

.section .texts h2 {
    margin-top: 5px;
    font-size: 14px;
}

.categoria {
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: var(--bg-category) ;
}

.section .texts span {
    font-family: 'averta-lightitalic';
    font-size: 10px;
    font-weight: 100;
}

.section img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.ads img {
    width: 80%;
    height: 20vh;
}


/* Categories */
.main__pages {
    background-color: #fff;
    height: 100vh;
}

.categories,
.about__header {
    background-color: #f2f2f2;
    min-height: 30vh;
    position: relative;
    padding-bottom: 5vh;
}

.categories img,
.about__header img {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.categories h2,
.about__header h2 {
    color: #4e4e4e;
    font-family: "Averta-Regular";
    border-bottom: 1px solid #9b9b9b;
    width: 40%;
    padding: 3vh 0 8px;
    margin: 0 5vw;
}

.categories__options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.btn__categories {
    font-size: 0.9rem;
    background-color: transparent;
    border-radius: 5px;
    padding: 2px 8px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

.btn__categories:hover {
    color: #FFF;
    background-color: var(--bg-category);
}

.btn__categories-active {
    color: #FFF;
    background-color: var(--bg-category);
}

.filter {
    padding-top: 15px;
}

.filter section {
    margin: 0 0 15px 15px;
}

.filter section span {
    color: #9b9b9b;
    font-size: 1rem;
}

.filter section h2 {
    color: #17619f;
    font-size: 1.5rem;
}

.load {
    background-color: #0267bf;
    text-align: center;
    width: 90%;
    margin: 15px;
    border: none;
    padding: 20px;
}


.categories__search p {
    padding: 3vh 5vw 1vh;
    color: #9b9b9b;
}

/* About */

.about__header {
    min-height: 13vh;
}

.about__header img {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.about__header h2 {
    width: auto;
    border: none;
}

.about__content {
    margin: 3vh 5vw;
}

.about__content-text {
    color: #a4a4a4;
    text-align: justify;
    font-size: 0.7em;
    padding-bottom: 2vh;
}

@media (min-width: 720px) {
    .header {
        height: 15vh;
        padding: 0 10vw;
    }

    .buscar {
        top: calc(15vh - 1px);
        padding: 0 10vw;
    }

    .buscar__search input {
        height: 50px;
    }

    .buscar__search input::placeholder {
        font-size: 1.2rem;
    }

    .menu {
        top: calc(15vh + 4px);
        height: 85vh;
    }

    .menu > * {
        padding-right: 10vw;
    }

    .menu ul li a,
    details summary {
        font-size: 1rem;
    }

    details li {
        font-size: .9rem;
    }

    .spacing .gap {
        height: calc(15vh + 4px);
    }

    .section {
        height: 500px;
    }

    .section img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .grafico {
        width: 100%;
        height: 70vh;
        position: relative;
        padding: 15px 0;
        text-align: center;
    }

    .grafico img {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

    .ads {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

    .ads a {
        height: 90%;

        display: flex;
        align-items: center;
    }

    .ads img {
        height: 80%;
    }

    .section .texts {
        position: absolute;
        bottom: 0;
        padding-left: 10vw;
        align-content: end;
        width: 60%;
        height: 45%;
    }

    .section .texts h2 {
        margin: 15px 0;
        font-size: 1.5rem;
        padding: 0 4px;
    }

    .section .texts a {
        margin: 4px 0;
        padding: 2px 2px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    .section .texts span {
        font-size: 0.9rem;
        font-weight: 100;
        padding-top: 15px;
        margin-left: 5px;
        padding-top: 15px;
    }

    .section .texts .categoria {
        padding: 0 12px;
    }

    /* Categories e Search */

    .main__pages {
        margin: 0 auto;
    }

    .categories__options {
        width: 60%;
    }

    .categories {
        padding-bottom: 10%;
    }

    .about__header {
        padding-bottom: 7%;
    }

    .categories__options,
    .filter {
        width: 80%;
        margin: 0 auto;
    }

    .categories h2,
    .about__header h2 {
        font-size: 1.2rem;
        margin-left: 10vw;
    }

    .about__content {
        margin: 3vh 10vw;
    }

    .about__content-text {
        font-size: 1em;
    }

    .load {
        width: 60%;
        margin: 15px 20%;
    }

    .categories__search p {
        padding: 4vh 0 2vh 10vw;
    }
}