:root{
    --content-text-color: #a4a4a4;
    --title: #0266bd;
}

.main-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.content {
    padding: 0 5vw 0;
}

.category-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 0;
    flex-wrap: wrap;
}

.share {
    display: flex;
    align-items: center;
    gap: 5px;
}

.share img {
    height: 20px;
}

.share span {
    font-family: 'averta-lightitalic', sans-serif;
    font-size: 0.8em;
    color: var(--content-text-color);
}

.content-title {
    padding: 1em 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-datetime {
    font-family: 'averta-regularitalic', sans-serif;
    font-size: .6em;
    color: var(--content-text-color);
}

.title {
    font-family: 'Averta-Regular';
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--title);
}

.title span {
    font-family: 'averta-light';
    font-weight: 100;
    font-size: 1rem;
    color: var(--title);

}

.content-title hr{
    width: 45%;
}

.content-text {
    color: var(--content-text-color);
    text-align: justify;
    font-size: 0.7em;
}

.content-text img{
    padding: 2em 0;
    width: 100%;
}

main {
    padding-bottom: 5vh;
}

@media (min-width: 720px) {
    .content {
        padding: 3vh 10vw 0;
    }

    .category-share {
        padding: 0.7em 0;
    }

    /* .categoria {
        font-size: 0.8em;
    } */

    .share {
        gap: 8px;
    }

    .share span {
        font-size: 1em;
    }

    .content-title {
        padding: 1.5em 0 2em;
        gap: 8px;
    }

    .content-datetime {
        font-size: 0.8em;
    }

    .title {
        font-size: 2rem;
    }

    .title span {
        font-size: 1.6rem;
    }

    .content-text {
        font-size: 1em;
    }

    .content-text img{
        padding: 2em 0;
    }
}