*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averta-Regular";
    list-style: none;
    text-decoration: none;
    color: #fff;
}

:root{
  --primary-color: #0037d6;
}

/* header menu */
.header {
    background-color: var(--primary-color);
    height: 12vh;
    padding: 0 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a .logo_firjan {
    width: 70%;
}

.header a .logo_carta {
    width: 75%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
 /* .search {
    width: 30px;
    height: 30px;
} */

/* .close {
    width: 30px;
    height: 30px;
    display: none;
} */

.close_menu{
    display: none;
}

.close_menu , .menu_icon {
    width: 50px;
}

/* menu de busca */

/* .buscar {
background-color: var(--primary-color);
position: relative;
top: -1px;

width: 100%;
max-height: 0;
overflow: hidden;
transition: .3s;  

display: flex;
justify-content: center;
padding: 10px 0 0 0;
} */

.buscar {
    position: relative;
    
    width: 100%;  
    
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.buscar__search {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius:10px;
    padding: 0 10px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buscar__search  input {
    border: none;
    width: 100%;
    height: 35px;
    background-color: transparent;
    font-weight: lighter;
}

.buscar__search  input:focus{
    outline: none;
    color:#6e6e6e;
}

.buscar__search  input::placeholder{
    font-size: 0.8rem;
}

.buscar__search-img {
    width: 25px;
    height: 25px;
}

/* sidebar menu */

/* .menu{
    width: 0;
    height: 86.5vh;
    background-color: var(--primary-color);
    opacity: .9;
    position: absolute;
    right: 0;
    top: 13.3vh;
    transition: width .3s;
    overflow: hidden;
} */

.menu{
    width: 0;
    height: 88vh;
    background-color: var(--primary-color);
    opacity: .9;
    position: absolute;
    right: 0;
    top: 11.9vh;
    transition: width .3s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 30px;
}
.menu ul li{
    margin: 4px;
}
.menu ul li a {
   text-transform: uppercase;
   font-family: "Averta-Regular";
   font-weight: lighter;
   font-size: 15px;
}

details {
    text-align: right;
    font-size: 14px;
}

details summary{
    font-size: 15px;
    text-transform: uppercase;
}

.menu__footer {
    padding: 0 3vw 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.menu__footer p{
    text-transform: uppercase;
    font-size: 0.7rem;
}

.menu__footer-img {
    height: 1.2rem;
}